/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023047;
  color: white;
}
main {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.switch {
  background-color: blueviolet;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.button-switch {
  background-color: yellowgreen;
  border-radius: 50%;
  width: 35px;
  aspect-ratio: 1/1;
  position: relative;
  left: -10px;
  /* left: calc(100% - 17px); */
  transition: all ease 0.3s;
  box-shadow: 3px 3px 15px black;
}

.active {
  left: calc(100% - 17px);
}

.blue .button-switch {
  background-color: #8ecae6;
}

.orange .button-switch {
  background-color: #fb8500;
}

.yellow .button-switch {
  background-color: #ffb703;
}

.blue .switch {
  background-color: #79aac1;
}

.orange .switch {
  background-color: #c46900;
}

.yellow .switch {
  background-color: #cb9100;
}
